BodyElementExceptBlockQuote =
  Comment /
  LiteralBlock /
  BulletList /
  EnumeratedList /
  DefinitionList /
  Paragraph

BodyElement =
  BlankLines?
  element:(BodyElementExceptBlockQuote / BlockQuote) {
    return element;
  }
