BodyElementExceptBlockQuote =
  blanks:BlankLines? element:(
    Comment /
    LiteralBlock /
    BulletList /
    EnumeratedList /
    DefinitionList /
    LineBlock /
    Paragraph
  ) {
    return element;
  }

BodyElement =
  element:(BodyElementExceptBlockQuote / BlockQuote) {
    return element;
  }
