BodyElementExceptBlockQuote =
  Comment /
  LiteralBlock /
  BulletList /
  EnumeratedList /
  DefinitionList /
  Paragraph

BodyElement =
  BlankLines?
  element:(BodyElementExceptBlockQuote / BlockQuote) {
    if (options.location) {
      element = element.set('_location', location());
    }
    return element;
  }
