BulletList = PushBullet$ items:((BlankLines? BulletListItem)+ / PopBullet$ Fail$) PopBullet$ {
  return new Elements.BulletList({ children: mapByIndex(items, 1) });
}

Bullet = [*+\-•‣⁃]
SameBullet = b:Bullet &{ return bulletListState.isSameBullet(b); }

PushBullet$ = &(BlankLines? SameIndent b:Bullet &{ bulletListState.pushBullet(b); return true })
PopBullet$ = &{ bulletListState.popBullet(); return true; }

BulletListItem = SameIndent SameBullet body:ListItemBody {
  return new Elements.ListItem({ children: body })
}
