Document =
  children:(Section / Transition / BodyElement / Unknown)*
  blanks:BlankLines {
    return new Elements.Document({ children: children })
      .withLoc(location, options)
      .withBlankLines([], blanks, options);
  }
