{
  // utilities
  var _ = require('lodash');
  var ParserUtil = require('./ParserUtil').default;

  function mapByIndex(seq, index) {
    return _.map(seq, function (v) { return v[index]; });
  };

  // nodes
  var Elements = require('./Elements');
  var Text = Elements.Text;

  // variables
  var currentIndentSize = 0;
  var indentSizeStack = [];
  var indentIgnoreLine = null;
  var nextIndentSize = null;
  var prevIndentSize = null;

  var markupEndString = null;
  var attributesIndentList = [];

  var nextEnumeratorType = null;
  var enumeratorStack = [];
  var currentEnumerator = null;

  var enumeratedListState = (function () {
    return {
      startNewEnumeratedList: function () {
        enumeratorStack.push(currentEnumerator);
        currentEnumerator = null;
        nextEnumeratorType = null;
      },
      pushEnumerator: function (enumerator) {
        enumeratorStack.push(current);
        currentEnumerator = enumerator;
      },
      popEnumerator: function () {
        currentEnumerator = enumeratorStack.pop();
      },
    };
  }());

  var indentState = (function () {
    return {
      push: function (indentSize) {
        indentSizeStack.push(currentIndentSize);
        currentIndentSize = indentSize;
      },
      pop: function () {
        currentIndentSize = indentSizeStack.pop();
      },
      ignore: function (line) {
        indentIgnoreLine = line;
      },
    };
  }());

  var bulletListState = (function () {
    var stack = [];
    var current = null;
    return {
      pushBullet: function (bullet) {
        stack.push(current);
        current = bullet;
      },
      popBullet: function () {
        current = stack.pop();
      },
      isSameBullet: function (bullet) {
        return current === bullet;
      },
    };
  }());

  var sectionState = (function () {
    var stack = [];
    var currentIndex = -1;
    return {
      isSubSection: function (c, overline) {
        if (currentIndex == stack.length - 1) {
          for (var i = 0, len = stack.length; i < len; i++) {
            if (stack[i].c === c && stack[i].overline == overline) {
              return false;
            }
          }
          return true;
        }
        var next = stack[currentIndex + 1];
        return next.c === c && next.overline === overline;
      },
      setNextSection: function (c, overline) {
        for (var i = 0, len = stack.length; i < len; i++) {
          if (stack[i].c === c && stack[i].overline == overline) {
            currentIndex = i;
            return;
          }
        }
        stack.push({ c: c, overline: overline });
        currentIndex = stack.length - 1;
      },
      popSection: function () {
        --currentIndex;
      },
    };
  }());
}
