{
  // utilities
  var _ = require('lodash');
  var ParserUtil = require('./ParserUtil').default;

  // nodes
  var Elements = require('./Elements');
  var Text = Elements.Text;

  // variables
  var currentIndentSize = 0;
  var indentSizeStack = [];
  var indentIgnoreLine = null;
  var nextIndentSize = null;
  var prevIndentSize = null;

  var markupEndString = null;
  var attributesIndentList = [];

  var enumeratorStack = [];
  var currentEnumerator = null;

  var bulletListState = (function () {
    var stack = [];
    var current = null;
    return {
      pushBullet: function (bullet) {
        stack.push(current);
        current = bullet;
      },
      popBullet: function () {
        current = stack.pop();
      },
      isSameBullet: function (bullet) {
        return current === bullet;
      },
    };
  }());
}
