ListItem = item:(NonEmptyListItem / EmptyListItem) {
  return item;
}

PushListItemIndent$ = (
  &(
    i:Whitespace+ &Nonspacechar SkipIndentCheck$
    &{ indentState.push(location().start.column - 1); return true; }
  ) / &(BlankLines PushFirstIndent$)
) {
  return { width: currentIndentSize, offset: indentState.lastIndentDiff() };
}

NonEmptyListItem = indent:PushListItemIndent$ children:(BodyElement+ / FailbackIndent$) PopIndent$ {
  return new Elements.ListItem({ children });
}

EmptyListItem = Whitespace* Endline {
  return new Elements.ListItem({ children: [] });
}
