ExpandedLiteralBlock =
  SameIndent '::' Whitespace* Newline
  BlankLines
  indent:PushCommonIndent$
    lines:((
      Whitespace* Newline /
      &SameOrDeepIndent w:Whitespace+ RawLine
    )+ / FailbackIndent$)
  PopIndent$ {
    var children = _.map(lines, function (line) {
      if (line.length === 2) {
        var indentSize = ParserUtil.calcIndentSize(line[0].join(''));
        var text = _.repeat(' ', Math.max(0, indentSize - indent.indentSize));
      } else {
        var indentSize = ParserUtil.calcIndentSize(line[1].join(''));
        var text = _.repeat(' ', indentSize - indent.indentSize) + line[2].raw;
      }
      return new Elements.LiteralBlockLine({ text: text } );
    });
    return new Elements.LiteralBlock({ children: children });
  }
