Transition =
  BlankLines
  marker:TransitionMarker Whitespace* Newline
  &(BlankLines) {
    return new Elements.Transition({ marker: marker });
  }

TransitionMarker =
  marker:(('!!!!' '!'*) / ('""""' '"'*) / ('####' '#'*) / ('$$$$' '$'*) /
          ('%%%%' '%'*) / ('&&&&' '&'*) / ("''''" "'"*) / ('((((' '('*) /
          ('))))' ')'*) / ('****' '*'*) / ('++++' '+'*) / (',,,,' ','*) /
          ('----' '-'*) / ('....' '.'*) / ('////' '/'*) / ('::::' ':'*) /
          (';;;;' ';'*) / ('<<<<' '<'*) / ('====' '='*) / ('>>>>' '>'*) /
          ('????' '?'*) / ('@@@@' '@'*) / ('[[[[' '['*) / ('\\\\\\\\' '\\'*) /
          (']]]]' ']'*) / ('^^^^' '^'*) / ('____' '_'*) / ('````' '`'*) /
          ('{' '{' '{' '{' '{'*) / ('||||' '|'*) /
          ('}' '}' '}' '}' '}'*) / ('~~~~' '~'*)) {
    return marker[0] + marker[1].join('');
  }
