Transition =
  BlankLines
  marker:TransitionMarker Whitespace* Newline
  &(BlankLines) {
    return new Elements.Transition({ marker: marker });
  }

TransitionMarker =
  line:('!' / '"' / '#' / '$' / '%' / '&'/ "'" / '(' / ')' /
        '*' / '+' / ',' / '-' / '.' / '/' / ':' / ';' / '<' /
        '=' / '>' / '?' / '@' / '[' / '\\' / ']' / '^' / '_' /
        '`' / '{' / '|' / '}' / '~')+ &{
    return line.length >= 4 && _.uniq(line).length == 1
  } {
    return line;
  }
